/* ===== DEFAULT STYLES =====================================================
   ========================================================================== */

button, input[type="submit"] {
  background-color: transparent;
  border: 0;
}

body p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body ul, ol {
  margin: 0;
  padding: 13px;
  padding-top: 5px;
}




/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; margin: 0;}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }



/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: Arial; color: #222; }

body { margin: 0; font-size: 14px; line-height: 18px; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #0072ff; color: #fff; text-shadow: none; }
::selection { background: #0072ff; color: #fff; text-shadow: none; }



/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }



/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }



/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }



/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Floats */
.float-left {
  float: left;
}

.float-right {
  float: right;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
html * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  *behavior: url(htc-libs/boxsizing.htc);
}

html, body {
  height: 100%;
}

.container {  
  width: 1000px;
  height: 100%;
    margin: 0 auto;
      position: relative;
}

.container.height-auto {
  overflow: auto;
  height: auto;
  clear: left;
}

#footer {
  margin-top: 50px;
  padding: 14px 0 65px;
    border-top: 2px solid #47484b;
      position: relative;
}

#header {
  height: 178px;
}

.sub-header {
  height: 28px;
  background: #0c0c0c;
}

.main-header {
  height: 150px;
  background: #191919 url(../img/header-bg.jpg) left center no-repeat;
}

.logo {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
}

.contacts {
  font-size: 24px;
  font-style: italic;
  color: #dfdede;

    position: absolute;
    right: 290px;
    top: 10px;
    z-index: 1;
}

.shopping-cart {
  position: absolute;
  right: 0;
  top: -23px;
  z-index: 2;
}

.shopping-cart p:first-child,
.shopping-cart p:first-child a {
  font-size: 14px;
  color: #ebecec;
}

.shopping-cart p:first-child a:hover {
  text-decoration: none;
}

.shopping-cart p:first-child span {
  color: #707070;
}

.shopping-cart p:first-child + p {
  font-size: 24px;
  color: #009cff;
    position: relative;
    top: 16px;
}

.search {
  position: absolute;
  right: 0;
  bottom: 40px;
  z-index: 1;
}

.search label {
  font-size: 18px;
  font-style: italic;
  color: #dbdcdc;
    margin-right: 12px;
}

.search input[type="text"] {
  height: 33px;
  width: 259px;
  background: #090909;
    border-bottom: 1px solid #313131;
    border-right: 1px solid #313131;
    border-left: 1px solid #020202;
    border-top: 1px solid #020202;

    color: white;
    padding: 0 5px;
}

.search input[type="submit"] {
  width: 34px;
  height: 34px;
  background: url(../img/search-submit-bg.jpg) left top no-repeat; 
    position: relative;
    top: 5px;
    left: -3px;
    z-index: 1;
}

.search input[type="submit"]:hover {
  opacity: 0.9;
  filter: alpha(opacity = 90);
}

.menu-main {
  margin-top: -25px;
}

.menu-main table {
  width: 100%;
  height: 55px;
  background: url(../img/main-menu-bg.jpg) left top repeat-x;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.menu-main td {
  border-left: 1px solid black;
      text-align: center;
}

.menu-main td:first-child {
  border-left: none;
}

.menu-main td > a {
  display: block;
  height: 53px;
    padding: 15px 16px 0;

    font-size: 14px;
    color: #f7f8f8;
    text-decoration: none;
}

.menu-main .current > a {
  background: url(../img/main-menu-current-bg.jpg) left top repeat-x;
    color: #313131;
}

.menu-main .current > a:hover {
  color: #313131;
}

.menu-main td > a:hover {
  color: #9ad4ee;
}

#content {
  width: 100%;
  float: left;
  background: white url(../img/content-bg.jpg) left top repeat-x;
    padding-top: 70px;
}

.layout-2-column .column.left {
  width: 219px;
  float: left;
}

.layout-2-column .column.center {
  margin-left: 252px;
}

.module {
  margin-top: 36px;
}

.module:first-child {
  margin-top: 0;
}

.module .caption {
  width: 217px;
  height: 34px;
  line-height: 34px;
  background: url(../img/module-caption-bg.jpg) left top no-repeat;
    text-align: right;

    padding: 0 21px 0 43px;
    margin-bottom: 16px;
      font-size: 18px;
      font-style: italic;
      color: white;
      font-weight: normal;

      box-shadow: 3px 3px 6px #9b9b9b;
      -moz-box-shadow: 3px 3px 6px #9b9b9b;
      -webkit-box-shadow: 3px 3px 6px #9b9b9b;
}

.menu-additional ul {
  list-style: none;
  padding: 0;
}

.menu-additional .level-1 > li > a {
  display: block;
  height: 27px;
  background: #717171;
    padding: 3px 15px 0;
      color: #f3f3f4;
      font-size: 14px;
      text-decoration: none;

      border-top: 1px solid white;
}

.menu-additional .level-1 > li > a:hover {
  color: white;
}

.menu-additional .level-1 > li:first-child > a {
  border-top: none;
}

.menu-additional .level-2 > li > a {
  display: block;
  height: 29px;
  background: white;
    color: #373737;
    text-decoration: none;

    padding: 5px 2px 0 15px;

    border-top: 1px solid #dddddd;
}

.menu-additional .level-2 > li:first-child > a {
  border-top: none;
}

.menu-additional .level-2 > li > a:hover {
  background: #9ad4ee;
}

.menu-additional .current a {
  background: #e3e3e3 !important;
  color: #373737 !important;
}

.name {
  font-size: 18px;
  color: #47484b;
    margin-left: 10px;
}

.model {
  font-size: 14px;
  color: #47484b;
    margin-left: 10px;
    margin-top: 10px;
}

.image-block {
  text-align: center;
  margin-top: 10px;
}

.product-info .info {
  font-size: 12px;
  color: #47484b;
    margin-top: 15px;
}

.link-more,
.link-more:visited {
  font-size: 12px;
  color: #47484b;
  font-weight: bold;
  text-decoration: none;
}

.link-more:hover {
  text-decoration: underline;
  color: #47484b;
}

.pull-right {
  float: right;
}

.main-text {
  margin-bottom: 35px;
}

.main-text *:first-child {
  margin-top: 0;
}

.main-text * {
  /*margin-top: 20px;*/
    font-size: 13px;
    line-height: 20px;
    color: #47484b;
}
.anchors{               /*22.04.2015 snow_edit*/
  height: 30px;         /*22.04.2015 snow_edit*/
  margin-bottom: 10px;  /*22.04.2015 snow_edit*/
}

.main-text p {
    margin-top: 20px;
}

.main-text h1,
h1 {
  font-size: 25px;
  line-height: 28px;
  text-shadow: -1px -1px 3px gray;

  margin-bottom: 15px;
}

.main-text h2,
h2 {
  font-size: 20px;

  margin-bottom: 10px;
}

.main-text h3,
h3 {
  font-size: 16px;

  margin-bottom: 7px;
}

.main-text img {
  margin-top: 2px;
}

.main-image {
  margin-bottom: 35px;
}

.product {
  float: left;
  width: 229px;
  padding: 0 10px;
    border-left: 1px solid #eaeaea;
    height: 315px;

    position: relative;
}

.product .header {
  min-height: 90px;
}

.product .name,
.product .model {
    margin-left: 20px;
}

.product .model {
  /*min-height: 36px;*/
}

.product .model a,
.product .model a:visited {
  color: #06e;
}

.product .model a:hover {
  text-decoration: none;
}

.product .price {
  font-size: 24px;
  color: #008ad1;
    margin-top: 15px;
    margin-left: 20px;
}

p.name a {
    color: inherit;
    text-decoration: none;
}

.link-buy,
.link-buy:visited,
.buy-product-form-container .link-buy,
.buy-product-form-container .link-buy:visited {
  display: block;
  width: 82px;
  height: 26px;
  background: url(../img/link-buy-bg.jpg) left top no-repeat;
    text-align: right;
    padding: 3px 10px 0 0;
    margin-top: 15px;
    margin-left: 20px;

    color: white;
    text-decoration: none;
    font-size: 12px;
}

.link-buy:hover {
  opacity: 0.9;
  filter: alpha(opacity = 90);
  color: white;
}

.shop {
  width: 100%;
  float: left;
  padding: 15px 30px 25px;
  margin-bottom: 25px;

    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    position: relative;
}

.shop .prev {
  width: 21px;
  height: 58px;
  background: url(../img/pagination-sprite.png) left top no-repeat;
    position: absolute;
    left: 0;
    top: 166px;
    z-index: 2;
}

.shop .next {
  width: 21px;
  height: 58px;
  background: url(../img/pagination-sprite.png) left bottom no-repeat;
    position: absolute;
    right: 0;
    top: 166px;
    z-index: 2;
}

.shop .next span,
.shop .prev span {
  display: none;
}

.brands {
  width: 100%;
  float: left;
  text-align: center; /*22.04.2015 snow_edit*/
  padding-bottom: 40px;
  margin-bottom: 25px;
      border-bottom: 1px solid #eaeaea;
}

.brand {
  width: 30%;
  float: left;
    margin-left: 5%;
}

.brand:first-child {
  margin-left: 0;
}

.brand h2 {
  font-size: 18px;
  font-weight: normal;
  color: #47484b;
  margin-bottom: 0px; /*22.04.2015 snow_edit*/
}

.brand img {
  margin-top: 10px;
}

.more-products {
  width: 100%;
  float: left;
    padding-bottom: 25px;
    margin-bottom: 25px;
      border-bottom: 1px solid #eaeaea;
}

.more-products > div:not(.product-block) {
  float:left;               /*22.04.2015 snow_edit*/
  margin-right: 5%;         /*22.04.2015 snow_edit*/
  width: 30%;
}

.more-products > div:not(.product-block):nth-child(3n+3) {
  margin-right: 0px;        /*22.04.2015 snow_edit*/
}

.more-products > div:not(.product-block) > b {
  display: inline-block;
    margin-top: 10px;
}


.product-block {
  float: left;
  width: 323px;
  height: 323px;
}

.product-block:first-child + .product-block,
.product-block-margin-left {
  margin-left: 65px;
}

.product-block h2 {
  min-height: 35px;

  font-size: 18px;
  color: #47484b;
    margin-bottom: 16px;
}

.product-block img {
  margin-bottom: 16px;
    box-shadow: 5px 5px 0 #e5e5e5;
    -moz-box-shadow: 5px 5px 0 #e5e5e5;
    -webkit-box-shadow: 5px 5px 0 #e5e5e5;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  font-size: 14px;
  color: #47484b;
  text-decoration: none;
  line-height: 2;
  float: left;
  margin-left: 30px;
}

.footer-menu ul li:first-child {
  margin-left: 0;
}

.footer-menu ul li a {
  font-size: 14px;
  color: #47484b;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: black;
}

.developers {
  color: #4a4a4a;

  position: absolute;
  right: 0;
  top: 14px;
  z-index: 1;
  line-height: 2;
}

.shop.modified-margin-top {
  margin-top: 260px;
}

.shop.modified-no-border,
.product.modified-no-border {
  border: none;
}

.shop.modified-no-slider {

}

.caption {
  margin-bottom: 15px;
  padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.caption h2 {
  font-family: Tahoma;
  font-weight: normal;
  font-size: 20px;
  color: #47484b;
}

.caption span {
  font-size: 25px; /*15.04.2015 snow_edit*/
  color: #47484b;
}

.pagination {
  text-align: center;
}

.pagination a,
.pagination a:visited {
  font-family: Tahoma;
  font-size: 14px;
  color: #47484b;
  text-decoration: none;
    margin-left: 10px;
}

.pagination a:first-child {
  margin-left: 0;
}

.pagination a:hover {
  color: black;
}

.pagination .current {
  font-size: 16px;
  color: #898989;
    margin-left: 10px;
}

.review-form-container {
  padding: 25px 0 0 65px;
  margin-bottom: 50px;
}

.input-row {
  margin-top: 30px;
}

.input-row:first-child {
  margin-top: 0;
}

.input-row label {
  display: inline-block;
  width: 88px;
}

.input-row input[type="text"] {
  width: 287px;
}

.input-row textarea {
  width: 590px;
  height: 135px;
  resize: none;
}

.submit-row {
  margin-top: 16px;
}

.submit-row input[type="submit"],
.submit-row button[type="submit"] {
  float: right;
}

label {
  font-family: Tahoma;
  font-size: 14px;
  color: #47484b;
}

input[type="text"] {
  height: 23px;
  background: #ebedf0;
  border: 1px solid #afafaf;
    padding: 0 5px;
}

textarea {
  background: #ebedf0;
  border: 1px solid #afafaf;
    padding: 5px;
}

input[type="submit"],
button[type="submit"] {
  width: 114px;
  height: 30px;
  background: url(../img/button-submit.png) left top no-repeat;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
    color: white;

    outline: 0;
}

input[type="submit"] {
  padding-bottom: 7px;
}

button[type="submit"] span {
  position: relative;
  top: -3px;
}

.reviews {
  /*width: 389px;*/
}

.reviews .head {
  width: 100%;
  float: left;

  font-family: Tahoma;
  font-size: 18px;
  color: #47484b;
    margin-bottom: 17px;
}

.reviews .head span {
  font-size: 12px;
  color: #47484b;
}

.reviews > img {
  float: left;
  border: 2px solid #dddddd;
}

.reviews .text-block {
  margin-left: 153px;
}

.reviews .text-block p {
  font-family: Tahoma;
  font-size: 12px;
  color: #47484b;
}

.product-description .column {
    position: relative;
}

.product-description .column.left {
  width: 48%;
  float: left;
}

.product-description .column.right {
  width: 52%;
    margin-left: 50%;
    padding-left: 20px;

    min-height: 240px;
}

.product-description .column.right + p {
  width: 100%;
  float: left;
    margin-top: 40px;
}

.product-description > p,
.product-description > ul,
.product-description > table,
.product-description > h1,
.product-description > h2,
.product-description > h3,
.product-description > h4,
.product-description > h5,
.product-description > h6 {
  width: 100%;
  float: left;
}

.product-description p {
  font-family: Tahoma;
  font-size: 12px;
  color: #47484b;
}

.product-description .column.left:after {
  display: block;
  content: "";
  width: 1px;
  height: 268px;
  background: #dddddd;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.buy-product-form-container .price,
.buy-product-form-container .number,
.buy-product-form-container .submit {
  display: inline-block;
}

.buy-product-form-container .price {
  font-size: 24px;
  font-family: Arial;
  color: #008ad1;
}

.buy-product-form-container .number span {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #47484b;
    margin-left: 28px;
}

.buy-product-form-container .number input[type="text"] {
  width: 30px;
    text-align: center;
      margin-left: 10px;
}

.buy-product-form-container button[type="submit"] {
  width: auto;
  height: auto;
  background: none;
}

.tech-info {
  margin-top: 15px;
}

.tech-info .head {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #47484b;
    margin-bottom: 0;
}

.row {
  width: 100%;
  float: left;
  margin-top: 10px;
    font-family: Arial;
    font-size: 12px;
    color: #47484b;
      border-bottom: 1px dotted black;
}

.row .right-part {
  float: right;
  display: inline-block;
  background: white;
    position: relative;
    top: 3px;
    z-index: 1;
}

.row .left-part {
  float: left;
  display: inline-block;
  background: white;
    position: relative;
    top: 3px;
    z-index: 1;
}

.thumbnails-container {
  height: 92px;
  position: relative;
  overflow: hidden;
    padding: 0 25px;
}

.thumbnails {
  margin-top: 20px;
    position: relative;
}

.thumbnails img {
  margin-left: 28px;
  cursor: pointer;
  border: 2px solid #dbdada;
}

.thumbnails img:first-child {
  margin-left: 0;
}

.thumbnails-container .pagination-left {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
}

.thumbnails-container .pagination-right {
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
}

.filters {
  margin-top: 10px;
  margin-bottom: 20px;
    font-family: Arial;
    font-size: 15px;
    color: #5f5f5f;
}

.filters .row-container {
  margin-top: 3px;
  margin-bottom: 6px;
}

.filters .row-container.select .label {
  float: left;
  line-height: 23px;
}

.filters .label {
  width: 277px;
  display: inline-block;
}

.filters input[type="text"] {
  width: 69px;
  height: 23px;
  background: url(../img/bg-filters-input.jpg) left top repeat-x;

  box-shadow: inset 2px 2px 7px 0 #a8b1b5;
  -moz-box-shadow: inset 2px 2px 7px 0 #a8b1b5;
  -webkit-box-shadow: inset 2px 2px 7px 0 #a8b1b5;
}

.shop.number-2 {
  padding-left: 0;
  padding-right: 0;
}

.shop.number-2 .product {
  width: 33.33%;
    margin-top: 85px;
}

.shop.number-2 .product:nth-child(3n+1) {
  border-left: none;
}

.shop.number-2 .product:first-child,
.shop.number-2 .product:first-child + .product,
.shop.number-2 .product:first-child + .product + .product {
  margin-top: 0;
}

.shop.number-2 h2 {
    margin-top: 20px;
}
.shop.number-2 h2:first-child {
    margin-top: 0;
}

.shop.number-2 p {
    margin-top: 20px;
}
.shop.number-2 p:first-child {
    margin-top: -20px;
}

.error {
    border: 1px solid #FF0000 !important;
    box-shadow: 0 0 5px #FF0000;
}

.product-description h1 {
	line-height: 22px;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
     border: 1px solid gray;

     margin: 20px 0;
   }

   .content-table tr {
    border-top: 1px solid gray;
   }

   .content-table thead tr:first-child {
    border-top: 0;
   }

   .content-table td,
   .content-table th {
    border-left: 1px solid gray;

    padding: 0 5px;
   }

   .content-table td:first-child,
   .content-table th:first-child {
    border-left: 0;
   }

   .product-name {
    color: #fff;
    background: #AFAFAF !important;
   }

   .content-table td:nth-child(even) {
    background: #F1F1F1;
   }

   .content-table td:nth-child(odd) {
    background: #F1F1D1;
   }

   .content-table th {
    background: #fffdd3;
   }
   
   #taMessage, #labRewMess {
       display: inline-block;
       vertical-align: middle;
   }

   #taCaptcha {width: 183px;}
   #picloaderRew {margin-top: -1px !important; height: 23px;}
   #refCaptcha {
       display: block;
       margin-left: 90px;
       margin-top: 5px;
       width: 120px;
   }
   
/* [Список файлов в деталке товара] */
#goodSpecFiles {
    float: left;
}
#goodSpecFiles h3 {
    margin-top: 30px;
}
#goodSpecFiles ul {
    list-style: none;
}
#goodSpecFiles ul li {
    padding-top: 10px;
}
#goodSpecFiles ul li > p a {
    color: inherit;
    text-decoration: none;
}
#goodSpecFiles ul li > p a:hover {
    text-decoration: underline;
}
#goodSpecFiles ul li > p a > img {
    margin-right: 5px;
}
/* [/Список файлов в деталке товара] */


/* [Фотки в гарантиях и статьях] */
.picgallBox {
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.picgallBox .label {
    width: 216px;
    margin-top: 10px;
}
/* [/Фотки в гарантиях и статьях] */

.mt30 {margin-top: 30px !important;}
.nfloat {float: none !important;}


.electricTab {margin-bottom: 30px;}
.electricTab th, .electricTab td {
    border: 1px solid #000000;
    padding: 10px;
}

.iconGood {
    margin-top: 15px;
}
.iconGood img {
    margin-right: 5px;
}
.iconGood img:last-child {
    margin-right: 0;
}

.shop.number-1 .product {
  min-height: 385px;
}

.fError {
    border: 1px solid #AA0000 !important;
}

.layout-2-column .column.center table {
	margin-bottom: 20px;
}

.table-1,
.layout-2-column .column.center table {
  width: 100%;
  border-collapse: collapse;
    border: 1px solid gray;
}

.table-1 th,
.table-1 td,
.layout-2-column .column.center table th,
.layout-2-column .column.center table td {
  padding: 0 5px;
}

.table-1 tr,
.layout-2-column .column.center table tr {
  border: 1px solid gray;
}

.table-1 thead th,
.layout-2-column .column.center table thead th {
  padding: 10px 5px;
}

.table-1 thead tr,
.layout-2-column .column.center table thead tr {
  /*height: 42px;*/
  background: #006666;

  text-align: center;
  color: #c6d9f1;
  font-size: 24px;
  font-weight: bold;
}

.table-1 .head td,
.layout-2-column .column.center table .head td {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: #000;

  height: 50px;
  vertical-align: middle;
}

.table-1 tbody tr,
.layout-2-column .column.center table tbody tr {
  background: #fff;
}

.table-1 tbody td,
.layout-2-column .column.center table tbody td {
  font-size: 16px;
  text-align: left;
    padding: 5px;
    vertical-align: middle;

    border-left: 1px solid gray;

    text-align: center;
}

.table-1 tbody .table-1_td-1,
.layout-2-column .column.center table tbody .table-1_td-1 {
  text-align: left;
}

.table-1 tbody .table-1_td-3 span,
.layout-2-column .column.center table tbody .table-1_td-3 span {
  color: #800000;
  font-weight: bold;
}

.table-1 tbody .table-1_td-1,
.layout-2-column .column.center table tbody .table-1_td-1 {
  width: 70%;
}

.table-1 tbody .table-1_td-2,
.layout-2-column .column.center table tbody .table-1_td-2 {
  width: 15%;
}

.table-1 tbody .table-1_td-3,
.layout-2-column .column.center table tbody .table-1_td-3 {
  width: 15%;
}

.product-label {
	width: 109px;
	height: 29px;
	background: url(../img/bg-label.png) left top no-repeat;

	margin-top: 15px;
	margin-left: 20px;
}

.product-label--modified-bg {
	background: url(../img/bg-label2.png) left top no-repeat;
}

.product--modified-height {
	height: 359px;
}

.product-label-gift {
	width: 82px;
	height: 71px;
	background: url(../img/bg-label3.png) left top no-repeat;

	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}




.product-discount {
  width: 67px;
  height: 61px;
  background: url(../img/icon-skidka.png) left top no-repeat;
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 2;

    font-family: Arial;
    font-size: 12px;
    color: #fff;

    padding: 15px 0 0 15px;
}

.product-discount__text {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: #fff;

  -moz-transform:    rotate(-47deg);
   -o-transform:      rotate(-47deg);
   -webkit-transform: rotate(-47deg);
   transform:         rotate(-47deg);

  position: absolute;
  left: 15px;    
  top: 15px;
  z-index: 3;
}

.notPubOff {
    margin-top:25px;
    margin-bottom: 25px;
    font-size: 12px;
    color: #47484b;
}

.bigCheckbox {
  transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }
  
  .border-box{
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: -31px;
    margin-top: -3px !important;
  }
  
  .bigCheckbox{
      float:left;
      zoom: 1.5;
      margin-left:-17px;
      margin-top:1px;
  }
  
  .agreement{
      padding:5px;
      padding-left:30px;
      text-align:left;
      width:630px;
      margin:auto;
  }