.gift-modified {
	bottom: -15px;
	right: 0;
}

.gift-modified2 {
	right: 0;
	bottom: 0;
}

.product-label-freeinst {
	width: 100px;
	height: 85px;
	background: url(../img/bg-label4.png) left top no-repeat;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

ul.company-links li {
    float: left;
    margin-right: 40px;
}

ul.company-links li a{
    color: gray;
    font-size: 16px;
    text-decoration: none;
    border-bottom: dashed 1px gray;
}

ul.company-links li a:hover{
    text-decoration: none;
    border-bottom: none;
    color: blue;
}

.partner {
    margin-bottom: 15px;
    width:210px;           /*15.04.2015 snow_edit*/
    text-align: center;     /*15.04.2015 snow_edit*/
    float: left;            /*15.04.2015 snow_edit*/
}

div.partner_logo{
    display: inline-block;
    width: 180px;
    height: 120px;          /*15.04.2015 snow_edit*/
    text-align: center;
}