/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

/***********************
	-	BASICS 	-
***********************/
html {
	width: 100%;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

.body-dark{
	background-color:#111;
	background-image:url(../img/grain.png);
}

.body-light{
	background-color:#eee;
	background-image:url(../img/grain.png);
}

ol, ul {
    list-style: none;
}

a{
	text-decoration:none;
}


/****************************
	-	PREVIEW SETTINGS	-
*****************************/

.centerme{
	margin-left:auto;
	margin-right:auto;
}

/*******************************
	-	BANNER STYLES	-
********************************/


.bannercontainer{
	max-width:1000px;
	height:337px !important;
	background-color:#333 !important;
	position:relative;
	margin-top:50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.kenburn-bg {
	width: 1000px !important;
	height: 337px !important;
		padding: 4px 4px 0 4px !important;
}

.slide_mainmask {
	height: 326px !important;
}

.kenburn_thumb_container {
	height: 50px !important;
}

.kenburn_thumb_container_bg {
	height: 52px !important;
	width: 252px !important;
}


.bannercontainer ul >li{
	display:none;
}

.bannershadow{
	margin-top:0px;
	max-width:930px;
	height:40px;
	position:relative;
}



/****************************
	-	BASIC DIVIDERS 	-
*****************************/
#small_divider {
	margin-top:8px;
}

#big_divider {
	margin-top:150px;
}


.error {
    border: 1px solid #FF0000 !important;
    box-shadow: 0 0 5px #FF0000;
}