/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Default text */
body, textarea{color:#333;font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

/* Fixes width issues with form elements in the grid. */
.grid_1 select,.grid_1 input,.grid_1 textarea{width:30px}.grid_1 select{width:40px}.grid_2 select,.grid_2 input,.grid_2 textarea{width:90px}.grid_2 select{width:100px}.grid_3 select,.grid_3 input,.grid_3 textarea{width:150px}.grid_3 select{width:160px}.grid_4 select,.grid_4 input,.grid_4 textarea{width:210px}.grid_4 select{width:220px}.grid_5 select,.grid_5 input,.grid_5 textarea{width:270px}.grid_5 select{width:280px}.grid_6 select,.grid_6 input,.grid_6 textarea{width:330px}.grid_6 select{width:340px}.grid_7 select,.grid_7 input,.grid_7 textarea{width:390px}.grid_7 select{width:400px}.grid_8 select,.grid_8 input,.grid_8 textarea{width:450px}.grid_8 select{width:460px}.grid_9 select,.grid_9 input,.grid_9 textarea{width:510px}.grid_9 select{width:520px}.grid_10 select,.grid_10 input,.grid_10 textarea{width:570px}.grid_10 select{width:580px}.grid_11 select,.grid_11 input,.grid_11 textarea{width:630px}.grid_11 select{width:640px}.grid_12 select,.grid_12 input,.grid_12 textarea{width:690px}.grid_12 select{width:700px}.grid_13 select,.grid_13 input,.grid_13 textarea{width:750px}.grid_13 select{width:760px}.grid_14 select,.grid_14 input,.grid_14 textarea{width:810px}.grid_14 select{width:820px}.grid_15 select,.grid_15 input,.grid_15 textarea{width:870px}.grid_15 select{width:880px}.grid_16 select,.grid_16 input,.grid_16 textarea{width:930px}.grid_16 select{width:940px}
textarea {
	height: 350px;
}



/* Make sure form elements don't break the box width */
.grid_1 > .box select,.grid_1 > .box input,.grid_1 > .box textarea{width:8px;}.grid_2 > .box select,.grid_2 > .box input,.grid_2 > .box textarea{width:68px;}.grid_3 > .box select,.grid_3 > .box input,.grid_3 > .box textarea{width:128px;}.grid_4 > .box select,.grid_4 > .box input,.grid_4 > .box textarea{width:188px;}.grid_5 > .box select,.grid_5 > .box input,.grid_5 > .box textarea{width:248px;}.grid_6 > .box select,.grid_6 > .box input,.grid_6 > .box textarea{width:310px;}.grid_7 > .box select,.grid_7 > .box input,.grid_7 > .box textarea{width:368px;}.grid_8 > .box select,.grid_8 > .box input,.grid_8 > .box textarea{width:428px;}.grid_9 > .box select,.grid_9 > .box input,.grid_9 > .box textarea{width:488px;}.grid_10 > .box select,.grid_10 > .box input,.grid_10 > .box textarea{width:548px;}.grid_11 > .box select,.grid_11 > .box input,.grid_11 > .box textarea{width:608px;}.grid_12 > .box select,.grid_12 > .box input,.grid_12 > .box textarea{width:668px;}.grid_13 > .box select,.grid_13 > .box input,.grid_13 > .box textarea{width:728px;}.grid_14 > .box select,.grid_14 > .box input,.grid_14 > .box textarea{width:788px;}.grid_15 > .box select,.grid_15 > .box input,.grid_15 > .box textarea{width:848px;}.grid_16 > .box select,.grid_16 > .box input,.grid_16 > .box textarea{width:908px;}

/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1, 
.container_16 .grid_1 .box,
.container_16 .grid_1 .ui-state-highlight {
	width: 40px !important
}

.container_16 .grid_2, 
.container_16 .grid_2 .box,
.container_16 .grid_2 .ui-state-highlight {
	width: 100px !important
}

.container_16 .grid_3, 
.container_16 .grid_3 .box,
.container_16 .grid_3 .ui-state-highlight {
	width: 160px !important
}

.container_16 .grid_4, 
.container_16 .grid_4 .box,
.container_16 .grid_4 .ui-state-highlight {
	width: 220px !important
}

.container_16 .grid_5, 
.container_16 .grid_5 .box,
.container_16 .grid_5 .ui-state-highlight {
	width: 280px !important
}

.container_16 .grid_6, 
.container_16 .grid_6 .box,
.container_16 .grid_6 .ui-state-highlight {
	width: 340px !important
}

.container_16 .grid_7, 
.container_16 .grid_7 .box,
.container_16 .grid_7 .ui-state-highlight {
	width: 400px !important
}

.container_16 .grid_8, 
.container_16 .grid_8 .box,
.container_16 .grid_8 .ui-state-highlight {
	width: 460px !important
}

.container_16 .grid_9, 
.container_16 .grid_9 .box,
.container_16 .grid_9 .ui-state-highlight {
	width: 520px !important
}

.container_16 .grid_10, 
.container_16 .grid_10 .box,
.container_16 .grid_10 .ui-state-highlight {
	width: 580px !important
}

.container_16 .grid_11, 
.container_16 .grid_11 .box,
.container_16 .grid_11 .ui-state-highlight {
	width: 640px !important
}

.container_16 .grid_12, 
.container_16 .grid_12 .box,
.container_16 .grid_12 .ui-state-highlight {
	width: 700px !important
}

.container_16 .grid_13, 
.container_16 .grid_13 .box,
.container_16 .grid_13 .ui-state-highlight {
	width: 760px !important
}

.container_16 .grid_14, 
.container_16 .grid_14 .box,
.container_16 .grid_14 .ui-state-highlight {
	width: 820px !important
}

.container_16 .grid_15, 
.container_16 .grid_15 .box,
.container_16 .grid_15 .ui-state-highlight {
	width: 880px !important
}

.container_16 .grid_16, 
.container_16 .grid_16 .box,
.container_16 .grid_16 .ui-state-highlight {
	width: 940px !important
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}