{include file="default/header.tpl"}

<h1 id="head">Панель управления "{$strSiteName}"</h1>
		
	{include file="default/menu.tpl"}

	<div id="content" class="container_16 clearfix">
	
		<h1>Страница не найдена</h1>
	
	</div>

{include file="default/bottom.tpl"}

{include file="default/footer.tpl"}