{include file="default/header.tpl"}

<form name="regform" method="post" action="">
	<center>
	<table cellspacing="0" cellpadding="0" border="0" align="center" class="main" style="width: 320px; margin-top:100px; padding:20px; position:center; border:1px solid #CCC !important; border-radius:6px !important; -webkit-border-radius:6px !important; -moz-border-radius:5px; -khtml-border-radius:10px;">
	<tbody><tr>
	<td valign="top" align="left">
			
		<span style="color: red; font-size: 20px;">{$strMessage}</span>
		
		<h3>Вход</h3>
		<table width="100%" border="0" cellpadding="4" cellspacing="0">
		<tr>
		<td style="width: 200px;">Логин:</td>
		<td><input type="text" name="login" id="login" /></td>
		</tr>
		<tr>
		<td>Пароль:</td>
		<td><input type="password" name="password" id="password"> </td>
		</tr>
		
		<tr>
		<td></td>
		<td><input name="submit" type="submit" value="войти"></td>
		</tr>
		
		</table>
	</td>
	</tr>
	</tbody>
	</table>
</center>

</form>
	
{include file="default/footer.tpl"}
