
{$strPluginPath='/public/upload-plugin/'}

<link rel="stylesheet" href="{$strPluginPath}css/bootstrap.min.css">
<link rel="stylesheet" href="{$strPluginPath}css/style.css">
<link rel="stylesheet" href="{$strPluginPath}css/bootstrap-responsive.min.css">


<link rel="stylesheet" href="{$strPluginPath}css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{$strPluginPath}css/jquery.fancybox.css">
<link rel="stylesheet" href="{$strPluginPath}css/jquery.fileupload-ui.css">
<noscript><link rel="stylesheet" href="{$strPluginPath}css/jquery.fileupload-ui-noscript.css"></noscript>